.enquiry-btn {
    border: 3px solid black;
    border-radius: 30px;
    width: 170px;
    height: 50px;
    color: var(--component);
}

.enquiry-btn:hover {
    background-color: var(--component);
    color: white;
    border: none;
}